/* App组件的外层盒子 */
.test {
  width: 100%;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big-box::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(./img/bg.png) center no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
}
/* header的主体结构和样式的设计 */
.header {
  width: 400px;
  height: 73px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headertest {
  width: 30px;
  height: 70px;
  background: url(./img//title_side.png);
  background-size: cover;
  animation-name: example_L;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.headertest2 {
  width: 30px;
  height: 70px;
  background: url(./img//title_side.png);
  background-size: cover;
  transform: rotateY(180deg);
  animation-name: example_R;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.headerlist {
  width: 346px;
  height: 84px; 
  position: relative;
}
.headerList2 {
  color: #ebf7ff;
  background: url(./img/title_bg.png);
  background-size: cover;
  text-align: center;  
  line-height: 84px;
  font-size: 34px;
  font-weight: bold;
  text-shadow: 0px 0px 6px #1e5ae1; 
}
.headerList2 img {
  float: left;
  margin-top: 29px;
}

/* header里面的搜索框和文本框的设置 */
.search {
  animation-name: searchani;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  cursor:pointer;
}

.input_box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  z-index: 99;
}

.input {
  width: 95%;
  height: 25px;
  border: 4px rgb(171,211,252) solid;
  position: absolute;
  top: 50%; 
  transform: translateY(-47%);
  border-radius: 15px;
  outline:none;
}
.input_img {
  width: 29px;
  height: 29px;
  position: absolute;
  top: 24%;
  left: 89%;
}

/* 显示黄色箭头的设置 */
.footer {
  width: 193px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.footer-left {
  width: 30px;
  height: 70px;
  background: url('./img/title_side_h.png');
  background-size: cover;
  animation-name: example_L;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.footer-right {
  width: 30px;
  height: 70px;
  background: url('./img/title_side_h.png');
  background-size: cover;
  transform: rotateY(180deg);
  animation-name: example_R;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.footer-content {
  width: 133px;
  height: 70px;
  background: url(./img//button_down.png);
  background-size: cover;
  cursor: pointer;
}
@keyframes example_L {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-5px);}
  20%, 40%, 60%, 80% {transform: translateX(5px);}
}
@keyframes example_R {
  0%, 100% {transform: translateX(0px) rotateY(180deg)}
  10%, 30%, 50%, 70%, 90% {transform: translateX(5px) rotateY(180deg);}
  20%, 40%, 60%, 80% {transform: translateX(-5px) rotateY(180deg);}
}
@keyframes searchani {
  0%, 100% {transform: scale(1);}
  10%, 30%, 50%, 70%, 90% {transform: scale(0.9)}
  20%, 40%, 60%, 80% {transform: scale(1.1)}
}