/* 轮播图组件的主体盒子 */
.test-style {
  width: 100%;
  height: 270px;
  /* flex-grow: 1; */
  /* background-color: red; */
  position: relative;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: blue;
  /* z-index: ; */
  /* background-color: red; */
  /* position: fixed; */
}

/* 左边箭头盒子 */
/* .header-page {
  width: 15px;
  position: absolute; */

  /* width: 10%; */
  /* margin: 10 auto; */
  /* flex-shrink: 0; */
  /* flex-grow: 1; */
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  /* margin-left: 10px;
  margin-right: 10px; */
  /* position: relative;   */
  /* background-color: yellow; */
  /* z-index: 99; */
/* } */
/* 左边箭头设置 */

.page:hover {
  background-image: url(./img/page_h.png);
}
/* 左边箭头边框 */
/* .side1 {
  margin-left: -60px;
} */

/* 轮播图的盒子主体 */
.fatherBox {
  /* flex-grow: 1; */
  width: 30vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  /* background-color: yellow; */
  justify-content: center;
  align-items: center;
  background-color: aqua;
  perspective: 910px;
  transform-style: preserve-3d;
}
/* 轮播图盒子里面的文字 */
.boxTest {
  width: 22.5vw;
  height: 4vh;
  position: absolute;
  background: rgba(0, 17, 46, 0.3);
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 4vh;
  bottom: 0px;
  left: 0px;
}

/* 各个盒子的设置 */
.box1 {
  /* background-color: yellow; */
  position: absolute;
  /* transform: rotateY(45deg) translate(265px)  ; */
   /* border: 50px solid;
   border-image: url(./img/frame.png) 40 51 53 52 round;  */
   display: flex;
   transition: transform 2s;
}
.box1::before {
  content: '';
  width: 29.5vw;
  height: 19.3vw;
  position: absolute;
  top: -22%;
  left: -16%;
  background-image: url(./img/frame.png);
  background-size: 100% 100%;
}

.box2 {

  /* background-color: yellow; */
  position: absolute;
  display: flex;
  /* transform: rotateY(45deg) translate(130px); */
  /* border: 50px solid;
  border-image: url(./img/frame.png) 40 51 53 52 round; */
  transition: transform 2s;
}
.box2::before {
  content: '';
  width: 29.5vw;
  height: 19.3vw;
  position: absolute;
  top: -22%;
  left: -16%;
  background-image: url(./img/frame.png);
  background-size: 100% 100%;
}

.box3 {
  /* background-color: yellow; */

  position: absolute;
  /* transform:  translate(0px); */
  z-index: 99;
  /* border: 50px solid;
  
  border-image: url(./img/frame.png) 40 51 53 52 round; */
  transition: transform 2s;
}

.box3::before {
  content: '';
  width: 29.5vw;
  height: 19.3vw;
  position: absolute;
  top: -22%;
  left: -16%;
  background-image: url(./img/frame.png);
  background-size: 100% 100%;
}
.box4 {
  /* background-color: yellow; */

  position: absolute;
  /* transform: rotateY(-45deg) translate(-130px); */
  /* border: 50px solid;
  border-image: url(./img/frame.png) 40 51 53 52 round; */
  z-index: 9;
  transition: transform 2s;
  display: flex;
}
.box4::before {
  content: '';
  width: 29.5vw;
  height: 19.3vw;
  position: absolute;
  top: -22%;
  left: -16%;
  background-image: url(./img/frame.png);
  background-size: 100% 100%;
}


.box5 {

  /* background-color: yellow; */
  position: absolute;
  /* transform: rotateY(-45deg) translate(-265px); */
  /* border: 50px solid;
  border-image: url(./img/frame.png) 40 51 53 52 round; */
  transition: transform 2s;
  display: flex;

}
.box5::before {
  content: '';
  width: 29.5vw;
  height: 19.3vw;
  position: absolute;
  top: -22%;
  left: -16%;
  background-image: url(./img/frame.png);
  background-size: 100% 100%;
}

/* 右边箭头设置 由左边箭头旋转180形成 */
/* .foot-page {
  width: 47px; */
  /* height: 60px; */
  /* margin: 0 auto; */
  /* flex-shrink: 0;  */
  /* flex-grow: 1; */
  /* margin: 10 auto; */
  /* transform: rotateY(180deg);
  margin-left: 10px; */
  /* background-color: pink; */
  /* z-index: 99;
  cursor:pointer;
} */
.page{
  width: 3.264vw;
  height: 4.1667vw;
  position: absolute;
  left: 5%;
  top: 50%;
  background-image: url(./img/page.png);
  background-size: cover;
  cursor:pointer;
  transform:   translateY(-50%);
  z-index: 99;
}
.page_h {
  width: 3.264vw;
  height: 4.1667vw;
  position: absolute;
  right: 5%;
  top: 50%;
  background-image: url(./img/page.png);
  background-size: cover;
  cursor:pointer;
  transform:  rotateY(180deg) translateY(-50%);
  z-index: 99;
}
.page::after {
  content: '';
  width: 4.166vw;
  height: 20.138vw;
  position: absolute;
  left: -3.2vw;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(./img//side1.png);
  background-size: cover;
  pointer-events:none
}
.page::before {
  content: '';
  width: 4.166vw;
  height: 20.138vw;
  position: absolute;
  left: -3.2vw;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(./img/side2.png);
  background-size: cover;
  pointer-events:none
}
.img_active {
  animation: anim 0.5s;
}
.page_h:hover {
  background-image: url(./img//page_h.png);
}
.page_h::after {
  content: '';
  width: 4.166vw;
  height: 20.138vw;
  position: absolute;
  right: 2vw;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(./img//side1.png);
  background-size: cover;
  pointer-events:none
}
.page_h::before {
  content: '';
  width: 4.166vw;
  height: 20.138vw;
  position: absolute;
  right: 2vw;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(./img/side2.png);
  background-size: cover;
  pointer-events:none
}

@keyframes show {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
